body {
  font-family: system-ui;
  color: hsl(200, 3%, 19%);
}

h1 {
  font-size: 3rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs {
  display: flex;
  flex-direction: row;
  align-items: last baseline;
  font-weight: bold;
  margin-right: 25px;
}

.top-text {
  margin: 15px;
}

button {
  border: none;
  border-radius: 10px;
  padding: 10px 25px;
  font-size: 1.5rem;
  background-color: hsl(208, 100%, 61%);
  color: white;
  margin: 25px;
}

button:hover {
  background-color: hsl(208, 100%, 51%);
}

button:active {
  background-color: hsl(208, 100%, 65%);
}

label {
  margin: 10px;
}

input {
  display: block;
  margin-top: 5px;
  margin-bottom: 25px;
}
